{% extends 'base.html.twig' %}

{% block body %}
    {% block main_menu %}
        {#<ul>#}
            {#<li><a href="{{ path("homepage")}}">Home</a></li>#}
            {#<li><a href="{{ path("blog_teaser")}}">Blog</a></li>#}
            {#<li><a href="{{ path("blog_about_us")}}">About Us</a></li>#}
            {#<li><a href="{{ path("admin")}}">Admin</a></li>#}
        {#</ul>#}
    {% endblock %}
    <div class="page_title" id="page_title">
        <h1>{% block page_title %}{% endblock %}</h1>
    </div>
    {% block content %} {% endblock %}
    {% block footer %} {% endblock %}
{% endblock %}
